.sidebar {
  min-width: 250px;
  height: 100%;
  background: var(--ternary-background);
  display: flex;
  flex-direction: column;
}

.sidebar .folders::-webkit-scrollbar {
  background: var(--ternary-background);
  width: 12px;
  border-radius: 5px;
}

.folders {
  flex: 1 1;
  padding: 10px 0;
  overflow-y: auto;
}

.auth-section {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  box-shadow: -4px -4px 9px var(--shadow-color);
  position: relative;
  text-align: center;
}

.auth-section .dropdown::after {
  bottom: 27px;
  left: -7px;
}

.auth-section .dropdown {
  bottom: 12px;
  width: 200px;
  right: -180px;
}

img.profile {
  border-radius: 50%;
  width: 24px;
  border: 2px solid #3e4958;
  cursor: pointer;
}

button.secondary.user {
  display: flex;
  font-size: 9px;
  padding: 5px;
  align-items: center;
}

.user .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 4px;
}
.details .name {
  font-size: 11px;
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}
.details .email {
  opacity: 0.4;
  font-weight: 200;
  text-overflow: ellipsis;
  max-width: 120px;
  overflow: hidden;
}

.dir-item {
  display: flex;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  align-items: center;
}

.dir-item:hover {
  background: var(--secondary-background);
}

.dir-item .icon {
  padding-right: 6px;
  display: flex;
}

.dir-item.active {
  background: var(--background);
}

.sidebar-actions {
  display: flex;
  justify-content: end;
}

.sidebar-actions button {
  margin: 5px;
  padding: 3px 5px;
}

.dir-item .actions {
  display: none;
  flex: 1;
  text-align: right;
}

.dir-item:hover .actions {
  display: flex;
  justify-content: flex-end;
}

.sidebar-actions .icon-button.new-file {
  padding: 2.5px 3px 5px 5px;
}
