html,
body,
.App,
#root {
  height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  --background: #0d1117;
  --secondary-background: #161b22;
  --ternary-background: #11151c;
  --primary: #2a6ead;
  --text-secondary: #e9e9e9;
  --text: #dddddd;
  --button-secondary: #252e38;
  --shadow-color: #0d1117c9;
  --dropdown-background: #141414;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background: var(--background);
  color: var(--text);
}

* {
  font-family: "Noto Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.editor-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  height: 60%;
}

.editor {
  padding: 25px 10px 20px 45px;
  width: 100%;
  height: 100%;
  justify-content: flex-start !important;
  box-sizing: border-box;
}

.editor-section {
  height: 100%;
  overflow-y: auto;
  flex: 1;
}

button.primary {
  background: var(--primary);
  color: var(--text-secondary);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button.secondary {
  background: var(--button-secondary);
  color: var(--text);
  border: none;
  padding: 6px 20px;
  border-radius: 5px;
}

button {
  transition: filter 100ms, transform 100ms;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.1);
}
button:active {
  transform: translateY(1.5px);
}
button .icon {
  padding-right: 5px;
  display: flex;
}

ul.checkbox_list li input {
  cursor: pointer;
  pointer-events: initial;
  opacity: 1;
  margin: 0.5em 0.5em 0 0;
  width: 14px;
  height: 14px;
  transform: scale(1.5);
}

.dropdown {
  position: absolute;
  background: var(--background);
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 8px 0px #010101;
  border: 1px solid #232b37;
  z-index: 10;
}

.dropdown::after {
  z-index: 1;
  background: var(--background);
  border-left: 1px solid #232b37;
  border-bottom: 1px solid #232b37;
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

button.icon-button {
  background: transparent;
  border: none;
  border-radius: 3px;
  padding: 1px;
  display: flex;
}
button.icon-button:hover {
  background: var(--secondary-background);
}

::-webkit-scrollbar {
  background: var(--background);
  width: 12px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-background);
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-secondary);
}

input.edit-name {
  background: transparent;
  border: none;
  color: inherit;
  text-align: center;
  font-size: 15px;
}

input.edit-name:focus {
  outline: none;
  border-bottom: 1px solid var(--primary);
}

.hint {
  font-size: 10px;
  opacity: 0.4;
}

@media (max-width: 700px) {
  .editor {
    padding: 16px 10px 20px 26px;
  }
}
